
SUPABASE_URL = "https://zybakxpyibubzjhzdcwl.supabase.co"
SUPABASE_KEY = "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Inp5YmFreHB5aWJ1YnpqaHpkY3dsIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NTQ4OTQyMDgsImV4cCI6MjA3MDQ3MDIwOH0.8ZqreKy5zg_M-B1uH79T6lQXn62eRvvouo_OiMjwqGU"



FLATTRADE_USER_SESSION  ="41b1313c36f55d1675be74cbd676e7c8b112cd90d8042d518db597ab283cac68"
FLATTRADE_USER_ID = "FZ03508"
FLATTRADE_PASSWORD = "Shubhi@3"

