USER_SESSION = st.secrets["FLATTRADE_USER_SESSION"]
USER_ID = st.secrets["FLATTRADE_USER_ID"]
FLATTRADE_PASSWORD = st.secrets["FLATTRADE_PASSWORD"]


# --- Supabase Credentials ---
SUPABASE_URL = st.secrets["SUPABASE_URL"]
SUPABASE_KEY = st.secrets["SUPABASE_KEY"]
