
SUPABASE_URL = "https://zybakxpyibubzjhzdcwl.supabase.co"
SUPABASE_KEY = "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Inp5YmFreHB5aWJ1YnpqaHpkY3dsIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NTQ4OTQyMDgsImV4cCI6MjA3MDQ3MDIwOH0.8ZqreKy5zg_M-B1uH79T6lQXn62eRvvouo_OiMjwqGU"



FLATTRADE_USER_SESSION  ="3f536b69a0b2b2f58a1351e12addbcac341c6bdfe50a6407a826e1849d37a855"
FLATTRADE_USER_ID = "FZ03508"
FLATTRADE_PASSWORD = "Shubhi@3"



# Encryption key for sensitive data (generate with: python -c "from cryptography.fernet import Fernet; print(Fernet.generate_key().decode())")
ENCRYPTION_KEY = "jbucGiVLOdaVEl1ZNLKRLVtB-vjFcp-WH6auGGWyLJM="
